.icon-rounded {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icon-rounded.orange {
    background-color: #FF5722;
}

.icon-rounded.purple {
    background-color: #673AB7;
}

.icon-rounded.blue {
    background-color: #03A9F4;
}

.icon-rounded.pink {
    background-color: #E91E63;
}

.icon-rounded.green {
    background-color: #4CAF50;
}
