#textblock {
    background-color: #ffffff;
    height: 80vh;
  }
  
  #textblock-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 12%;
  }
  
  #textblock-title {
    color: #000000;
    font-size: 35px;
    font-weight: 600;
    font-family: "Helvetica Neue";
  }
  
  #textblock-content {
    color: #1c1c1c;
    font-size: 20px;
  }